<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create your piquote</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body class="create-body">
    <header>
      <h4>piquote</h4>
    </header>
    <div class="container" id="app">
      <div class="artboard" :style="artboardStyle"></div>
      <div class="bg-type">
        <label>Select Background Type: </label>
        <input
          type="radio"
          id="bg-type-bgColor"
          value="Color"
          v-model="bgType"
        />
        <label for="bg-type-bgColor">Color</label>

        <input
          type="radio"
          id="bg-type-bgGradient"
          value="Gradient"
          v-model="bgType"
        />
        <label for="bg-type-bgGradient">Gradient</label>

        <input
          type="radio"
          id="bg-type-bgImage"
          value="Image"
          v-model="bgType"
        />
        <label for="bg-type-bgImage">Image</label>
      </div>
      <div class="controls">
        <div class="bg-color" v-if="bgType === 'Color'">
          <label for="bgColor">Background Color</label>
          <input type="color" name="bgColor" id="bgColor" v-model="bgColor" />
        </div>
        <div class="bg-gradient" v-if="bgType === 'Gradient'">
          <label for="bgGradient1">Gradient Color 1</label>
          <input
            type="color"
            name="bgGradient1"
            id="bgGradient1"
            v-model="bgGradient1"
          />

          <label for="bgGradient2">Gradient Color 2</label>
          <input
            type="color"
            name="bgGradient2"
            id="bgGradient2"
            v-model="bgGradient2"
          />

          <label for="bgGradientDeg">Gradient Angle</label>
          <input
            type="number"
            name="bgGradientDeg"
            id="bgGradientDeg"
            v-model="bgGradientDeg"
          />
        </div>
      </div>
      {{bgColor}}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" defer></script>
    <script src="script.js" defer></script>
  </body>
</html>
